/* ============================== stili generali ======================================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

:root {
    --main-bg-color: #022145;
    --white-color: #fff;
    --secondary-title-color: #1060B1;
    --animation-fade-time: 700ms;
    --title-font: 'Ubuntu Mono', monospace;
    --parag-font: 'Exo', sans-serif;
    --animate-font: 'IBM Plex Mono', monospace;
    --accent-color: #FC5745;
}

body,
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    overflow: hidden !important;
    color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--title-font);
}

p {
    font-family: var(--parag-font);
    font-size: 24px;
    line-height: 2;
    font-weight: 200;
}

.hidden{
    display: none !important;
}

.centered {
    display: grid;
    place-items: center;
}

.secondaryTitle {
    font-size: 100px;
    height: fit-content;
}

/*currently used only in the second slide*/
.animate {
    max-width: 100%;
    color: #70A1CD;
}

.fp-watermark {
    display: none !important;
}

.m-0 {
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}

.ml-200 {
    margin-left: 200px;
}

.active .d-200 {
    animation-delay: 200ms !important;
}

.active .d-400 {
    animation-delay: 400ms !important;
}

.active .d-600 {
    animation-delay: 600ms !important;
}

.active .d-800 {
    animation-delay: 800ms !important;
}

.fade-in-lr {
    animation: fade-in-left-to-right-out var(--animation-fade-time) ease-out forwards;
}

.active .fade-in-lr {
    opacity: 0;
    animation: fade-in-left-to-right var(--animation-fade-time) ease-in forwards;
    animation-delay: 400ms;
}

.fade-in-rl {
    animation: fade-in-right-to-left-out var(--animation-fade-time) ease-out forwards;
}

.active .fade-in-rl {
    opacity: 0;
    animation: fade-in-right-to-left var(--animation-fade-time) ease-in forwards;
    animation-delay: 400ms;
}

@keyframes fade-in-left-to-right {
    0% {
        transform: translateX(-40px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-in-left-to-right-out {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-40px);
        opacity: 0;
    }
}

@keyframes fade-in-right-to-left {
    0% {
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-in-right-to-left-out {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(40px);
        opacity: 0;
    }
}

/* ==================== reset fullpage =============================== */
.fp-overflow {
    overflow: hidden !important;
}

#fp-nav ul li a span,
#fp-slidesNav ul li a span {
    background-color: white !important;
}

/* =============================== first section ============================== */

.firstSection {
    background: url(/img/main-bg.png) no-repeat;
}

.firstSection .anim1-typeWriter {
    font-size: 5em;
    width: 0px;
    border-right: 4px solid white;
    overflow: hidden;
    white-space: nowrap;
    animation: control-width1 1500ms steps(12) 2s forwards, blink 0.6s 6 forwards;
}

@keyframes control-width1 {
    from {
        width: 0;
    }

    to {
        width: 480px;
    }
}

@keyframes blink {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

.anim2-typeWriter {
    font-size: 5em;
    width: 0px;
    border-right: 4px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    animation: control-width2 1500ms steps(11) 3500ms forwards, blink2 0.6s infinite 3500ms;
}

@keyframes control-width2 {
    0% {
        width: 0;
    }

    98% {
        width: 440px;
    }

    100% {
        width: 460px;
    }
}

@keyframes blink2 {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: white;
    }
}

.subtitle-main {
    font-family: var(--parag-font);
    color: var(--secondary-title-color);
    font-size: 2.5em;
    line-height: 1.4em;
    animation-delay: 5s !important;
}

/* =============================== second section ============================== */
.containerSecond {
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: relative;
}

.containerSecond h2 {
    font-size: 5rem;
}

.sec-1h-wrapper {
    height: inherit;
    width: 50%;
}

.sec-2h-wrapper {
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec-2h-wrapper .parag {
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: var(--animate-font);
    font-weight: 400;
}

.secondTopWrapper {
    height: 15%;
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: 20% 10% 64.5%;
}

.s2-sm-title {
    width: 60ch;
    font-family: var(--animate-font);
    background-color: white;
    margin-bottom: 30px;
}

.s2-sm-title h3 {
    color: var(--accent-color);
    font-size: 2em;
    margin: 0 0 0 10px;
    padding: 20px 0;
}

.s-date {
    width: 100%;
    height: inherit;
    padding-bottom: 10px;
    text-align: right;
    margin-right: 0;
    border-bottom: solid 1px white;
}

.s-date h3 {
    margin: 0;
}

/* =============================== third section ============================== */
.containerThird {
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s-titleWrap {
    width: 100%;
    height: fit-content;
}

.s-paragWrap {
    height: 80%;
    width: 100%;
}

.s-paragWrap .parag {
    width: 70%;
    margin: auto;
    text-align: center;
}

.blink {
    animation: blinkAnim var(--animation-fade-time) infinite ease-in-out;
}

@keyframes blinkAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* =============================== fourth section ============================== */

.fourthSection{
    position: relative;
}

.fourthSection img{
    position: absolute;
    right: 0;
    top: 0;
}

.containerFourth{
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.containerFourth .secondaryTitle{
    width: 70%;
}

.containerFourth .parag{
    text-align: left;
}

/* =============================== fifth section ============================== */

.fifthSection {
    height: 99vh;
    max-height: 99vh;
    position: relative;
}

.containerFifth {
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.containerFifth .parag,
.containerFifth .secondaryTitle {
    text-align: right;
}

.containerFifth .secondaryTitle {
    width: 70%;
}

.fifthSection svg {
    transform-box: fill-box;
    transform-origin: center;
    position: absolute;
    top: 0px;
    left: 0;
}

#cerchio_pallini_copia {
    transform-box: fill-box;
    transform-origin: center;
    animation: rotation 40s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* =============================== sixth section ============================== */

.robot-img {
    width: 900px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.containerSixth {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerSixth .parag {
    text-align: left;
}

.containerSixth .secondaryTitle {
    width: 70%;
    margin: auto;
}

.containerSixth .s-paragWrap {
    height: 60%;
}

/* =============================== seventh section ============================== */

.seventhSection {
    position: relative;
}

.p-dx{
    text-align: right;
    position: absolute;
    z-index: 4;
    top: 27%;
    left: 63%;
    width: 600px;
    font-size: 1.3em;
}

.row-dx{
    position: absolute;
    z-index: 4;
    top: 45%;
    left: 63%;
    width: 600px;
}

.p-sx{
    position: absolute;
    z-index: 4;
    top: 12%;
    left: 7%;
    width: 600px;
    font-size: 1.3em;
}

.title-sm{
    font-size: 2em;
    border: none !important;
}

.row-sx{
    position: absolute;
    z-index: 4;
    top: 30%;
    left: 7%;
    width: 600px;
}

.title-sx{
    position: absolute;
    z-index: 4;
    top: 6%;
    left: 7%;
}

.title-dx{
    position: absolute;
    z-index: 4;
    top: 22%;
    left: 63% !important;
    width: 600px;
    text-align: right;
}

.p-bot{
    position: absolute;
    bottom: 5%;
    left: 7%;
    width: 650px;
    font-size: 1.3em;
}

.seventhSection .secondaryTitle{
    position: absolute;
    bottom: 18%;
    padding-bottom: 20px;
    left: 7%;
    width: 600px;
    border-bottom: solid 1px white;
}