/* ============================= third section ===================================== */
.thirdSection svg {
    width: 100vw;
    max-height: 99vh;
    padding: 0;
}

.st1-third {
    fill: none;
    stroke: #70A1CD;
    stroke-width: 3;
}

.st2-third {
    opacity: 0.32;
    fill: none;
    stroke: #70A1CD;
    stroke-width: 3;
    enable-background: new;
}

.st3-third {
    opacity: 0.417;
    fill: none;
    stroke: #70A1CD;
    stroke-width: 3;
    enable-background: new;
}

.st4-third {
    fill: #70A1CD;
}

.st5-third {
    opacity: 0.503;
    fill: #70A1CD;
    enable-background: new;
}

.st6-third {
    fill: none;
    stroke: #FC5745;
    stroke-width: 3;
}

.st7-third {
    opacity: 0.32;
    fill: none;
    stroke: #FC5745;
    stroke-width: 3;
    enable-background: new;
}

.st8-third {
    opacity: 0.417;
    fill: none;
    stroke: #FC5745;
    stroke-width: 3;
    enable-background: new;
}

.st9-third {
    fill: #FC6A45;
}

.st10-third {
    fill: none;
    stroke: #FC5745;
}

.st11-third {
    opacity: 0.503;
}



/* ============================= fifth section ===================================== */
.st0-fifth {
    fill: #022145;
}

.st1-fifth {
    clip-path: url(#SVGID_00000105419188241920140030000016785289682414064797_);
}

.st2-fifth {
    fill: none;
    stroke: #34FDFB;
    stroke-width: 1.6021;
    stroke-miterlimit: 10;
}

.st3-fifth {
    fill: #34FDFB;
}

.st4-fifth {
    fill: none;
    stroke: #34FDFB;
    stroke-width: 1.4841;
    stroke-miterlimit: 10;
}

.st5-fifth {
    fill: none;
    stroke: #34FDFB;
    stroke-width: 1.602;
    stroke-miterlimit: 10;
}

.st6-fifth {
    fill: none;
    stroke: #FA5853;
    stroke-width: 1.602;
    stroke-miterlimit: 10;
}

.st7-fifth {
    fill: #FA5853;
}

.st8-fifth {
    fill: none;
}

.st9-fifth {
    clip-path: url(#SVGID_00000105419188241920140030000016785289682414064797_);
    fill: none;
    stroke: #34FDFB;
    stroke-width: 7;
    stroke-miterlimit: 10;
    stroke-dasharray: 5, 8;
}

.st10-fifth {
    display: none;
    clip-path: url(#SVGID_00000105419188241920140030000016785289682414064797_);
    fill: none;
    stroke: #34FDFB;
    stroke-width: 7;
    stroke-miterlimit: 10;
    stroke-dasharray: 5, 8;
}

.st11-fifth {
    opacity: 0.8;
}

.st12-fifth {
    fill: #92C9F7;
}

.st13-fifth {
    fill: #001B44;
    stroke: #92C9F7;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
}